main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main p {
  margin: 10px;
}

button {
  margin: 10px !important;
}

.picture-box {
  margin-bottom: 1em;
  padding: 0.25em;
  background: rgb(155, 123, 94);
  border-radius: 5px;
}